<div class="jumbotron">
    
    <div>
        @Html.Partial("FilterView")
    </div>

    <br/>

    <div>
        <table border="1">
            <tr><td><a target="_blank" href="~/GetCardsList.aspx">:  Get Cards  :</a></td></tr>
            <tr><td><a target="_blank" href="~/RegisterCard.aspx">:  Register Card  :</a></td></tr>
            <tr><td><a target="_blank" href="~/Provision.aspx">:  Provision  :</a></td></tr>
            <tr><td><a target="_blank" href="~/Inquire.aspx">:  Inquire  :</a></td></tr>
            <tr><td><a target="_blank" href="~/ProvisionForMarketPlace.aspx">:  Provision For MarketPlace  :</a></td></tr>
            <tr><td><a target="_blank" href="~/SummaryReconciliation.aspx">:  Summary Reconciliation  :</a></td></tr>
            <tr><td><a target="_blank" href="~/GetProvisionHistory.aspx">:  Provision History  :</a></td></tr>
        </table>
    </div>
</div>

<div class="row">

</div>
