<div class="jumbotron">
    
    <div>
        @Html.Partial("FilterView")
    </div>

    <br/>

    <div>
        <table border="1">
            <tr><td><a target="_blank" href="~/Aspx/GetCardsList.aspx">:  Get Cards  :</a></td></tr>
            <tr><td><a target="_blank" href="~/Aspx/RegisterCard.aspx">:  Register Card  :</a></td></tr>
            <tr><td><a target="_blank" href="~/Aspx/Provision.aspx">:  Provision  :</a></td></tr>
            <tr><td><a target="_blank" href="~/Aspx/Inquire.aspx">:  Inquire  :</a></td></tr>
            <tr><td><a target="_blank" href="~/Aspx/ProvisionForMarketPlace.aspx">:  Provision For MarketPlace  :</a></td></tr>
            <tr><td><a target="_blank" href="~/Aspx/SummaryReconciliation.aspx">:  Summary Reconciliation  :</a></td></tr>
            <tr><td><a target="_blank" href="~/Aspx/GetProvisionHistory.aspx">:  Provision History  :</a></td></tr>
            <tr><td><a target="_blank" href="~/Aspx/GetTermsOfServiceContent.aspx">:  Get Terms Of Service Content  :</a></td></tr>
        </table>
    </div>
</div>

<div class="row">

</div>
